/dist/
/build/
tests/googletest-src/
tests/googletest-build/
tests/googletest-download/
tests/Makefile
tests/testtest.exe
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
gmock.pc
gmock_main.pc
gtest.pc
gtest_main.pc
lib/
Makefile
CTestTestfile.cmake
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
